/* / _/__  ___  / /_
  / _/ _ \/ _ \/ __/
 /_/ \___/_//_/\__/ */

@import url('https://fonts.googleapis.com/css?family=Exo+2:400,500,600|Karla:700|Rubik:400i,500,700');


body {
 margin:0;
 position:absolute;
 width:100%;
 height:100%;
 min-height:100%;
 text-rendering: optimizeLegibility;
}

li, a, h2 {
 font-family: 'Karla', sans-serif;
 margin:0;
}

p {
   font-family: 'Rubik', sans-serif;
  font-size: .8rem;
}

h1, h3 {
  font-family: "Exo 2", sans-serif;
  margin:0;
}
/*COLORS:
Header Nav Links: #020887*/
/*nav bar BG:#98d2eb
main/white bg:f0f3f5*
h1/titletext:98d2eb/
plan table: b2b1cf
/*__               __
 / /  ___ ___ ____/ /__ ____
/ _ \/ -_) _ `/ _  / -_) __/
/_//_/\__/\_,_/\_,_/\__/_/
                          */
header {
 position:fixed;

 justify-content: center;
 background:#98d2eb;
 width:100%;
 height:9rem;
 display: flex;
flex-direction: column;
align-items: flex-start;
}

#header__upper{
align-self: center;
}

#header-img {
 width:20%;
 max-width: 45%;
 height:auto;

}

#nav-bar {
align-self: center;
}

/* ul */
.nav-bar__menu{

}

.nav-link {

}

.nav-link a{
  /* makes sure links don't break onto new lines but obey padding */

}

/*
      __             ___
    / /__ ____  ___/ (_)__  ___ _
  / / _ `/ _ \/ _  / / _ \/ _ `/
/_/\_,_/_//_/\_,_/_/_//_/\_, /
                       /___/   */
#landing {
  padding-bottom:2rem;
  }

.model {
  color:#b2b1cf;
  padding:3rem 0rem;
}

#sidekick {
 max-width:98%;
 height:auto;
 max-height:90%;
}

.tagline {
  font-style:italic;
  font-weight: 500;
  text-transform: uppercase;
  font-size:3.2rem;
  color:#38369a;
  padding:0 8rem;
}

/*
      __             __
___ _/ /  ___  __ __/ /_
/ _ `/ _ \/ _ \/ // / __/
\_,_/_.__/\___/\_,_/\__/ */

#about {
  background-color: #e1f2fe;
}

 #about p {
   color:#000;
 }

.description {
   padding:0rem 4rem;
   line-height: 1.5rem;
 }

.title_text {
font-style:italic;
 color:#98d2eb;
}

.title_about {
 font-size:5rem;
 color:;
}


/* MAIN */
main {
 width:100%;
 padding-top:9rem;
   text-align: center;
}

/*              __ _
  ___ ___ ____/ /_(_)__  ___  ___
 (_-</ -_) __/ __/ / _ \/ _ \(_-<
/___/\__/\__/\__/_/\___/_//_/___/
*/
.whiteDiv {
background-color: #f0f3f5;
padding:1rem 0rem;
}

.blueDiv {
background-color: #e1f2fe;
padding:1rem 0rem;
}



  /*     __
  ___  / /__ ____  ___
 / _ \/ / _ `/ _ \(_-<
/ .__/_/\_,_/_//_/___/
/_/
*/

.plans {
  background-color: #e1f2fe;
 display:flex;
 justify-content: center;
 flex-wrap:wrap;
 width:100%;
}

.plan_table {
     text-align: center;
     margin: 10px;
     padding:1rem;
     background-color:#b2b1cf;
}

.plan_perk {
  font-size: 1rem;
}

/* DESKTOP VIEW */
@media (min-width:600px) {

 .tagline {
   font-size:2.1rem;
 }

}
